@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

:root {
  --c1: #b5179e;
  --c2: #805ebf;
  --c3: #632240;
  --c4: #352c32;
  --c5: #222022;
  --c6: #959595;
  --c7: #fafafa;
  --err: crimson;
  --header-height: 80px;
  --footer-height: 24px;
  --bradius: 0.25rem;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'Barlow', arial, sans-serif;
}
body {
  min-height: 100dvh;
  margin: 0;
  background: var(--c5);
}
a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}
/* Para inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  appearance: textfield;
  color: var(--c7);
}
/* Para scrollbar */
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
*::-webkit-scrollbar-track {
  background: #2c2c2c;
  border-radius: 20px;
}
*::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  border-radius: 20px;
  border: 3px solid #2c2c2c;
}

/* Header */
header {
  height: var(--header-height);
  background-image: linear-gradient(
    150deg,
    var(--c2),
    var(--c3),
    var(--c3),
    var(--c4)
  );
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}
header img {
  height: 4rem;
  width: auto;
  border-radius: 50% var(--bradius);
  box-shadow: var(--c3) 0 0 10px 10px;
}
/* FIN Header */

/* Home */
.cryptos {
  color: var(--c7);
  width: 80%;
  margin: 0 auto;
  padding: 8px 0;
}
.cryptos .currency {
  list-style: none;
}
.cryptos .currency {
  border-top: solid 2px var(--c7);
  transition: background-color ease-out 300ms;
}
.cryptos .currency a {
  height: 4rem;
  margin: 0 4vw;
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cryptos .currency:first-child {
  border: none;
}
.cryptos .currency:hover {
  background-color: var(--c2);
  border-radius: var(--bradius);
  border-bottom: solid 2px var(--c7);
}
.cryptos .currency:hover + li {
  border-top: none;
}
.cryptos .currency a .name {
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cryptos .currency a .name img {
  height: 80%;
  width: auto;
  margin-right: 8px;
}
.cryptos .currency a .name h3 {
  margin: 0 16px;
  width: 5ch;
}
.cryptos .currency a > p {
  width: 120px;
  font-weight: bold;
}
/* FIN Home */

/* Trade */
.trade-container {
  min-height: calc(100dvh - var(--header-height));
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.trade-container .trade-card {
  height: max(200px, 30dvh);
  width: clamp(300px, 50%, 400px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.trade-container .trade-card .trade-from,
.trade-container .trade-card .trade-to {
  position: relative;
  height: 80px;
  width: 100%;
  padding: 0 16px;
  background: var(--c4);
  border-radius: var(--bradius);
  box-shadow: 1px 1px 8px var(--c4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trade-container .trade-card .note {
  position: absolute;
  top: 8px;
  left: 8px;
  font-weight: bold;
  color: var(--c6);
  font-size: 0.9rem;
  cursor: default;
  text-transform: capitalize;
}
.sel-list-container {
  display: none;
  background-color: var(--c5);
  position: absolute;
  padding: 25px;
  width: clamp(300px, 50%, 400px);
  height: 470px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--c2);
  border-radius: var(--bradius);
  -webkit-animation: zoomIn 300ms both;
  animation: zoomIn 300ms both;
}
.sel-list-container.visible {
  display: block;
}
.sel-list-container > img {
  height: 20px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.sel-list-container #select-list {
  margin: 10px;
  padding: 0 25px 10px;
  list-style: none;
  cursor: pointer;
  column-count: 2;
  column-gap: 6rem;
  column-rule: 2px solid var(--c2);
  height: 420px;
  overflow: auto;
}
.sel-list-container #select-list li {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  color: var(--c7);
}
.sel-list-container #select-list li:nth-child(1) {
  margin-top: 0;
}
.sel-list-container #select-list li:hover {
  transform: scale(1.1);
  font-weight: bold;
}
.sel-list-container #select-list img {
  height: 30px;
  margin-right: 8px;
}
.trade-container .trade-card #trade-icon {
  padding: 3px 3px 0;
  cursor: pointer;
  transform-origin: 50% 50%;
  transition: transform ease-out 300ms;
}
.trade-container .trade-card #trade-icon:hover {
  transform: rotate(360deg);
}
.trade-container .trade-btns {
  margin-top: 48px;
  width: clamp(300px, 50%, 400px);
  height: 60px;
  color: var(--c7);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trade-btns a,
.trade-btns span {
  height: 100%;
  font-size: 1.6rem;
  text-transform: capitalize;
  text-decoration: none;
  font-variant: small-caps;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 300ms, color linear 100ms;
}
.trade-btns.empty a {
  width: 100%;
  background-color: var(--c2);
  border-radius: 2.5rem;
}
.trade-btns.empty span {
  display: none;
  width: 0;
}
.trade-btns a {
  width: 30%;
  border-radius: 2.5rem 0 0 2.5rem;
  background-color: var(--c2);
}
.trade-btns span {
  width: 69%;
  background-color: var(--c1);
  cursor: pointer;
  border-radius: 0 2.5rem 2.5rem 0;
}
.trade-container a:hover,
.trade-container span:hover {
  color: var(--c7);
}
.trade-container .trade-card input[type='number'] {
  height: 2.5rem;
  font-size: 1.5rem;
  width: 50%;
  border: none;
  background-color: transparent;
  outline: none;
  margin-top: 12px;
}
.trade-container .trade-card button {
  padding: 12px 20px;
  border: none;
  border-radius: 2.5rem;
  background-color: var(--c5);
  color: var(--c6);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: color linear 100ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trade-container .trade-card button span {
  padding-bottom: 2px;
}
.trade-container .trade-card button img {
  height: 24px;
  margin-right: 8px;
}
.trade-container .trade-card button:hover {
  color: var(--c7);
}
/* FIN Trade */

/* Loading */
.loading-container {
  position: absolute;
  top: 0;
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading {
  height: 5vw;
  width: 5vw;
  border: thick solid var(--c2);
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinnerAnimation 700ms ease-out infinite;
  -webkit-animation: spinnerAnimation 700ms ease-out infinite;
}
/* FIN Loading */

/* Error */
.error-bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #000a;
  -webkit-animation: zoomIn 300ms both;
  animation: zoomIn 300ms both;
}
.error-bg .error-container {
  position: relative;
  height: 300px;
  width: max-content;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--c5);
  border: 2px solid var(--err);
  border-radius: var(--bradius);
  text-align: center;
}
.error-container > img {
  height: 20px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.error-bg .error-container .error-title {
  margin-bottom: 48px;
  color: var(--err);
  font-size: 2rem;
  font-weight: bold;
}
.error-bg .error-container .error-desc {
  margin-bottom: 48px;
  color: var(--c7);
  font-size: 1.2rem;
}
.error-bg .error-container .error-btn {
  position: absolute;
  bottom: 24px;
  right: 24px;
  padding: 16px 32px;
  border: none;
  border-radius: 2.5rem;
  background-color: var(--err);
  color: var(--c5);
  transition: color linear 100ms;
  font-size: 1.2rem;
  font-variant: small-caps;
  font-weight: bold;
  cursor: pointer;
}
.error-bg .error-container .error-btn:hover {
  color: var(--c5);
}
.error-bg.visible {
  display: flex;
}
/* FIN Error */

/* Footer */
footer {
  height: var(--footer-height);
  background-color: #42112f;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--c7);
  font-size: 0.9rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  letter-spacing: 1px;
}
footer a {
  margin: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
/* FIN Footer */

/* Animaciones */
@keyframes spinnerAnimation {
  to {
    transform: rotate(360deg);
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes flip {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  80% {
    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}
/* FIN Animaciones */

/* Responsive design (desktop first) */
@media screen and (width <= 768px) {
  /* Trade */
  .sel-list-container #select-list {
    column-gap: 4rem;
  }
}
@media screen and (width <= 425px) {
  /* Home */
  .cryptos {
    width: 90%;
  }
  .cryptos .currency {
    font-size: 0.9rem;
  }
  .cryptos .currency a .name h2 {
    margin: 0 3dvw;
  }
  .cryptos .currency a .name img {
    height: 70%;
  }
  /* Trade */
  .sel-list-container #select-list {
    column-gap: 2rem;
  }
}
@media screen and (width <= 375px) {
  /* Trade */
  .trade-container .trade-btns,
  .trade-container .trade-card,
  .trade-container .sel-list-container {
    width: 90%;
  }
}
@media screen and (width <= 290px) {
  /* Home */
  .cryptos {
    width: 95%;
  }
}
/* FIN Responsive design (desktop first) */
